<style>
  .containerAdmin { display: flex; flex-direction: column; align-items: center;
  } .usersAdmin, .productsAdmin { display: flex; flex-wrap: wrap;
  justify-content: center; } .card { margin: 10px; width: 400px; /* Ancho
  ajustable según tu preferencia */ } .footer { text-align: center; margin-top:
  20px; } /* Estilos para el título */ .title-container { background-color:
  #f0f0f0; padding: 20px; border-radius: 10px; margin-bottom: 20px; text-align:
  center; width: 80%; } .title-container h1 { margin: 0; font-size: 24px; color:
  #333; } /* Estilos para los botones dentro de la tarjeta */ .card-footer {
  display: flex; flex-direction: column; align-items: stretch; /* Hace que los
  elementos se expandan horizontalmente */ } .card-footer button, .card-footer a
  { width: 100%; margin-top: 5px; }
</style>
<br />
<div class="containerAdmin">

  <div class="title-container">
    <h1>
      Tu número de tag es
      {{user.tag}}.
      <br />
      Por favor actualizá tu correo electrónico privado, se te solicitará en
      caso de que necesites recordar tu contraseña.
    </h1>
  </div>

  <h3>Información para mi tag:</h3>
  <!-- Button trigger modal -->

  <!-- Modal -->
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <!-- Modal content here -->
  </div>
  <div class="productsAdmin">
    {{#each allProducts}}
      <div class="card">
        <div class="card-body">
          <form
            class="form"
            role="form"
            autocomplete="off"
            id="formProductAdmin"
          >
            <input
              class="form-control"
              type="hidden"
              name="productId"
              value="{{_id}}"
            />
            <label for="tag">Tag:</label>
            <input
              class="form-control"
              type="text"
              name="tag"
              value="{{tag}}"
              readonly
            />
            <label for="tag">Email privado (no se mostrará en la página
              pública):</label>
            <input
              id="newEmailP-{{_id}}"
              class="form-control"
              type="text"
              name="emailP"
              value="{{emailP}}"
            />
            <label for="tag">Email:</label>
            <input
              id="newEmail-{{_id}}"
              class="form-control"
              type="text"
              name="email"
              value="{{email}}"
            />

            <label for="description">Descripción:</label>
            <input
              id="newDescription-{{_id}}"
              class="form-control"
              type="text"
              name="description"
              value="{{description}}"
            />

            <label for="nombredelhumano">Contacto:</label>
            <input
              id="newNombredelhumano-{{_id}}"
              class="form-control"
              type="text"
              name="nombredelhumano"
              value="{{nombredelhumano}}"
            />
            <label for="telefono">Teléfono:</label>
            <input
              id="newTelefono-{{_id}}"
              class="form-control"
              type="text"
              name="telefono"
              value="{{telefono}}"
            />
          </form>
        </div>
        <div class="card-footer">
          <button
            type="button"
            class="btn btn-outline-success"
            onclick="updateProduct('{{_id}}')"
          >Actualizar</button>
          <a href="api/products/{{this._id}}" class="btn btn-primary">Ver página
            pública</a>
        </div>
      </div>
    {{/each}}
  </div>
</div>

<div class="footer">

  Desarrollado por
  <a href="https://lauroware.github.io/portfolio/" target="_blank">Lauro Ware</a>
  <br />
  Sitio de nuestra empresa:
  <a href="www.totinas.com.ar"> Totinas</a>
</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/adminView1.js"></script>