<html lang="es">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Perfil de mascota</title>
    <!-- Agrega la hoja de estilo de Bootstrap y tu propio CSS personalizado -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <style>
      body { background-size: cover; /* Ajusta la imagen para cubrir todo el
      fondo */ background-position: center; /* Centra la imagen en el fondo */
      background-repeat: no-repeat; /* Evita la repetición de la imagen */
      {{#if isAdmin1}}
        background-image:
        url('https://c.wallhere.com/photos/f5/40/1920x1080_px_abstract_digital_art_Modern_Shattered-783558.jpg!d');
      {{else}}
        background-image:
        url('https://media.istockphoto.com/id/1417882544/es/foto/gran-grupo-de-gatos-y-perros-mirando-a-la-c%C3%A1mara-sobre-fondo-azul.jpg?s=612x612&w=0&k=20&c=24s5hhdBTwmBC5wS5fXqdlAJHGBYGoTmO0iY6IQFwWM=');
      {{/if}}
      } .containerDetails { min-height: 100vh; /* Establece la altura mínima del
      contenedor como el 100% del viewport height */ display: flex;
      flex-direction: column; justify-content: center; align-items: center; } /*
      Estilos para el logo */ .logo { max-width: 200px; /* Ajusta el tamaño
      máximo del logo */ height: auto; /* Mantener la proporción de la imagen */
      margin-bottom: 20px; /* Espacio inferior para separar el logo de otros
      elementos */ } /* Estilos para la tarjeta */ .card { width: 80%; /* Ancho
      de la tarjeta */ } /* Estilos para el footer */ .footer { text-align:
      center; margin-top: 20px; },
    </style>
  </head>

  <body>
    <!-- Contenedor principal -->
    <div class="containerDetails container">
      <!-- Imagen del logo -->
      <img
        src="https://i.ibb.co/X2G7xgg/Logo-Veterinaria-Tienda-Mascotas-Simple-Beige-1-colores.png"
        alt="Logo-Veterinaria-Tienda-Mascotas-Simple-Beige-1-colores"
        class="logo"
      />
      <!-- Card de Bootstrap para mostrar los datos de la mascota -->
      {{#if isAdmin}}
        <div class="card">
          <div class="card-body">
            <img src="{{product.description}}" alt="" />
            <h1 class="card-title">Hola, soy {{product.title}}</h1>
            <h6 class="card-subtitle mb-2 text-muted">Descripción:
              {{product.fechadenacimiento}}</h6>
            <p class="card-text">Año de nacimiento: {{product.medicamentos}}</p>
            <p class="card-text">Medicamentos: {{product.enfermedades}}</p>
            <p class="card-text">Historia clínica:
              {{product.nombredelhumano}}</p>
            <p class="card-text">Nombre de mi humano: {{product.telefono}}</p>
            <p class="card-text">Teléfono:
              <a
                href="https://wa.me/+54{{thumbnail}}"
                target="_blank"
              >{{product.thumbnail}}</a></p>

            <p class="card-text">Si me encontraste, por favor teneme paciencia,
              voy a estar muy asustado.</p>
          </div>
        </div>
      {{else}}
        <div class="card">
          <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">
              {{product.fechadenacimiento}}</h6>
            <p class="card-text">Nombre de Contacto: {{product.telefono}}</p>
            <p class="card-text">Teléfono:
              <a
                href="https://wa.me/+54{{product.thumbnail}}"
                target="_blank"
              >{{product.thumbnail}}</a></p>
            <p class="card-text">Correo electrónico: {{product.email}}</p>
          </div>

        </div>
      {{/if}}
    </div>

    <!-- Footer -->
    <div class="footer">
      Desarrollado por
      <a href="https://lauroware.github.io/portfolio/" target="_blank">Lauro
        Ware</a>
      - Sitio de nuestra empresa:
      <a href="www.totinas.com.ar"> Totinas</a>
    </div>

    <!-- Agrega la librería de Bootstrap y jQuery (necesaria para Bootstrap) -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    ></script>
    <script src="/js/cart.js"></script>
  </body>

</html>